__pycache__/
*.py[cod]

api.http
backend/db.json

# backend 생성 파일
api.http
backend/db.json

# frontend 생성 파일
frontend/node_modules
frontend/package-lock.json
frontend/dist
frontend/.vscode

# 에디터 생성 파일
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?