__pycache__/
*.py[cod]

api.http
backend/db.json

frontend/index.html
frontend/jsconfig.json
frontend/package-lock.json
frontend/postcss.config.js
frontend/README.md
frontend/svelte.config.js
frontend/tailwind.config.cjs
frontend/vite.config.js

# 에디터 생성 파일
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?